<!-- c-form: ele não vai recarregar a página
    ele vai interceptar os dados e colocar na página    
-->
<form class="c-form" 
      action=" {{ url_for('cliente.inserir_cliente') }}" 
      method="POST"
      c-append="#lista-clientes"
      c-reload=true>


    <div class="mb-3">
      <label class="form-label">Nome</label>
      <input type="text" name="nome" class="form-control">
    </div>
    


    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" name="email" class="form-control">
      </div>



    <input class="btn btn-primary" type="submit" value="Enviar">
</form>