
<table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col" colspan="2">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}

        <tr>
        <th scope="row">1</th>
        <td>{{ cliente.id }}</td>
        <td>{{ cliente.nome }}</td>

        <td><button class="btn btn-primary">Editar</button></td>
        <td><button class="btn btn-danger">Deletar</button></td>
        </tr>

        {% endfor %} 

    </tbody>
</table>
